meta( charset = 'utf-8' )
title Título
meta( name = 'description' content = '' )
meta( name = 'author' content = '' )
meta( name = 'theme-color' content = 'rgb(33,150,243)' )
meta( http-equiv = 'X-UA-Compatible' content = 'IE=9; IE=8; IE=7' )

//- Mobile Specific Metas
meta( name = 'viewport' content = 'width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes' )

//- FONTS
link( rel = 'stylesheet' href = 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' )

//- CSS
link( rel = 'stylesheet' href = '/www/dist/css/main.css' )

//- FAVICON
link( rel = 'icon' type = 'image/png' href = '/www/dist/assets/images/favicon.ico' )

//- JAVASCRIPT
script( src = '/www/dist/js/app' )
